.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-image {
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: -40px;
  right: -5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 120, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.lightbox-prev-button,
.lightbox-next-button {
  position: absolute;
  font-size: 20px;
  color: #000000;
  background-color: rgba(247, 248, 253, 1);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lightbox-prev-button {
  left: -20px;
  transform: translateY(-50%);
}

.lightbox-next-button {
  right: -20px;
  transform: translateY(-50%);
}

.lightbox-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.lightbox-thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lightbox-thumbnail {
  width: 60px;
  height: 60px;
  cursor: pointer;
  /* opacity: 1; */
  margin: 0 5px;
  transition: opacity 0.3s;
  border-radius: 10px;
  filter: brightness(50%);
}

.lightbox-thumbnail.active {
  opacity: 1;
  border: 2px solid rgb(255, 120, 0);
  filter: brightness(100%);
}

.lightbox-thumbnail:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.2);
}
